{% extends "base.html" %}

{% block content %}
<h1 class="page-title">A quick Fan-Manga introduction</h1>

<h2 class="page-subtitle">What are we?</h2>
<p class="lead">Konichiwa, fellow manga fan!</p>
<p>We`re happy to see you on our fan-manga site! This site gives you access
to thousands of fan mangas, manhwas, ranobes and others. Here`s a little
instruction about what can you do on our site.</p>

<h2 class="page-subtitle">Account management</h2>
<p>You can create your own account with a unique name, where you can see all
your comments that you`ve made</p>
<h2 class="page-subtitle">Manga stuff</h2>

<p class="lead">Reading</p>
<p>Of course you can read manga! Just click "Read" on manga`s page and you`re
off to go!
You can choose filters for your manga page. Sorting by popularity and update date
are only available options at the moment</p>

<p class="lead">Commenting</p>
<p>You can comment different mangas and give them a star rating from 1 to 5.*</p>

<p class="lead">Posting</p>
<p>You can post your mangas.* We ask you not to post other people`s mangas without
their permission. If you`re an author and see your work posted like that, contact
us at fanmangahelp@gmail.com for more details</p>

<p class="lead">Changing</p>
<p>You can change info about your manga or preview to it. Currently you can change
preview to your manga only one time</p>

<p class="lead">Adding chapters</p>
<p>You can add chapters to your manga. Remember, that you need to choose them in
correct order for them to upload properly</p>

<p><small>*Only possible for registered users</small></p>
{% endblock %}