{% extends "base.html" %}

{% block content %}
<h1 class="page-title">Authorisation</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.email.label }}
        {{ form.email(class="form-control", type="email") }}
        {% for error in form.email.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </div>
    <div class="mb-3">
        {{ form.password.label }}
        {{ form.password(class="form-control", type="password")}}
        {% for error in form.password.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </div>
    <div class="mb-3 form-check">
        {{ form.remember_me() }} {{form.remember_me.label}}
    </div>
    <div class="mb-3 submit">
        {{ form.submit(type="submit", class="btn btn-primary") }}
    </div>
    {{ message }}
</form>
<p>Haven`t got an account? <a href="/account/register">Register</a></p>
{% endblock %}