{% extends "base.html" %}

{% block content %}
<h1 class="title">Search manga</h1>
{% if found == False %}
<p>Did not found manga with that name!</p>
{% endif %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.name.label }}
        {{ form.name(class="form-control") }}
        {% for error in form.name.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </div>
    <div class="mb-3 submit">
        {{ form.submit(type="submit", class="btn btn-primary") }}
    </div>
</form>
{% endblock %}